* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

input,
button {
  margin-top: 1em;
}
